<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="">Melisablen</a></li>
                    <li><a href="">Follow us</a></li>
                    <li><a href="">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Powered<i class="fa fa-heart heart"></i> by MelisaBlen
                </span>
            </div>
        </div>
    </div>
</footer>
